@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #dec2fc;
  --color-secondary: #b4c4fc;
  --color-tertiary: #97bff4;
  --font-pixel: 'Press Start 2P';
}

body,
#root {
  @apply h-screen overflow-hidden;
}

body {
  @apply from-primary via-secondary to-tertiary bg-gradient-to-br font-sans;
}