@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #dec2fc;
  --color-secondary: #b4c4fc;
  --color-tertiary: #97bff4;
  --font-pixel: 'Press Start 2P';
}

::-webkit-scrollbar {
  display: none;
}

body,
#root {
  @apply h-dvh overflow-hidden;
}

body {
  @apply from-primary via-secondary to-tertiary bg-gradient-to-br font-sans;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes glow {
  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.7));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 255, 0, 1));
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

@keyframes health-flash {
  0%,
  100% {
    background-color: #4ade80;
  } /* green-400 */
  50% {
    background-color: #f87171;
  } /* red-400 */
}

.animate-health-flash {
  animation: health-flash 1s ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 3s ease-in-out infinite;
}
